workflows/email-assistant-final.json
{
  "name": "AI Email Assistant — FINAL",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "labelIds": ["INBOX"]
        },
        "simple": false,
        "options": {}
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [300, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean and extract email fields\nconst email = $input.item.json;\n\nfunction stripHtml(html) {\n  return (html || '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst rawBody = email.text || email.html || email.snippet || '';\nconst cleanBody = stripHtml(rawBody).substring(0, 2000);\n\nreturn [{\n  json: {\n    messageId: email.id,\n    threadId: email.threadId,\n    from: email.from || '',\n    subject: email.subject || '(no subject)',\n    body: cleanBody || '(no body)',\n    snippet: email.snippet || '',\n    date: email.date || new Date().toISOString(),\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Preprocess Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an email classification assistant for a SaaS startup.\n\nClassify the incoming email into exactly one category:\n- urgent: needs response within 1 hour (outages, legal, angry enterprise customer threatening churn)\n- support: customer needs help (setup, bugs, how-to, billing)\n- sales: prospect or partner interest (pricing, demo request, partnership)\n- spam: no action needed (newsletters, marketing, automated notifications)\n\nAlso extract:\n- sentiment: positive | neutral | negative\n- summary: 1-2 sentences describing the core message\n- suggested_action: one concrete action the team should take\n- confidence: 0.0 to 1.0\n\nRules:\n1. If urgent vs support, prefer urgent — over-escalation is safer.\n2. If email is automated (unsubscribe link, receipt), classify as spam.\n3. Low confidence (<0.6) for ambiguous or very short emails.\n\nYOU MUST RESPOND ONLY WITH A RAW JSON OBJECT. NO TEXT BEFORE OR AFTER. START WITH { END WITH }.\n\nSchema: {\"category\":\"urgent|support|sales|spam\",\"sentiment\":\"positive|neutral|negative\",\"summary\":\"string\",\"suggested_action\":\"string\",\"confidence\":0.95}"
            },
            {
              "role": "user",
              "content": "From: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "name": "Groq AI Classify",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq AI response and merge with email data\nconst raw = $input.item.json.choices?.[0]?.message?.content || '{}';\n\n// Strip any markdown fences if present\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    category: 'unknown',\n    sentiment: 'neutral',\n    summary: 'AI parsing failed — manual review needed',\n    suggested_action: 'Review email manually in Gmail',\n    confidence: 0\n  };\n}\n\n// Get original email data from Preprocess node\nconst upstream = $('Preprocess Email').item.json;\n\n// Force category to lowercase for consistent routing\nconst category = (parsed.category || 'unknown').toLowerCase().trim();\n\nreturn [{\n  json: {\n    messageId: upstream.messageId,\n    threadId: upstream.threadId,\n    from: upstream.from,\n    subject: upstream.subject,\n    body: upstream.body,\n    date: upstream.date,\n    receivedAt: upstream.receivedAt,\n    category: category,\n    sentiment: (parsed.sentiment || 'neutral').toLowerCase(),\n    summary: parsed.summary || '',\n    suggested_action: parsed.suggested_action || '',\n    confidence: parsed.confidence || 0,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {}
      },
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "value": "tharunkumar1909",
          "__rl": true,
          "mode": "name"
        },
        "text": ":rotating_light: *URGENT EMAIL*\n\n*From:* {{ $json.from }}\n*Subject:* {{ $json.subject }}\n*Sentiment:* {{ $json.sentiment }}\n*Summary:* {{ $json.summary }}\n*Action needed:* {{ $json.suggested_action }}\n*Confidence:* {{ $json.confidence }}\n\n:point_right: Reply within 1 hour!",
        "otherOptions": {}
      },
      "name": "Slack Urgent Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1350, 80],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a friendly, professional customer support agent.\n\nWrite a helpful reply to the customer's email. Rules:\n1. Address them by first name if available\n2. Acknowledge their specific issue\n3. Provide a clear, actionable solution or next step\n4. Be concise — 3-5 sentences max\n5. End with an open offer to help further\n6. Sign off as 'The Support Team'\n\nOutput reply text only. No subject line, no metadata."
            },
            {
              "role": "user",
              "content": "Customer email:\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\n\nIssue summary: {{ $json.summary }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "name": "Generate Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1350, 220],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Parse AI Response').item.json.messageId }}",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {
          "sendReply": false
        }
      },
      "name": "Save Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1600, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "1XG4ycJFPItZort_HHFj1UiXRcAcJfpFbg3PSbPbzOqs"
        },
        "sheetName": {
          "value": "Sales Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Action": "={{ $json.suggested_action }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Source": "AI Email Assistant"
          }
        }
      },
      "name": "Log Sales Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1350, 360],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["TRASH"]
      },
      "name": "Archive Spam",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1350, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "channel": {
          "value": "tharunkumar1909",
          "__rl": true,
          "mode": "name"
        },
        "text": ":question: *Manual Review Needed*\n\n*From:* {{ $json.from }}\n*Subject:* {{ $json.subject }}\n*AI Category:* {{ $json.category }} (confidence: {{ $json.confidence }})\n*Summary:* {{ $json.summary }}\n\nPlease review and classify manually.",
        "otherOptions": {}
      },
      "name": "Slack Manual Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1350, 640],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "1XG4ycJFPItZort_HHFj1UiXRcAcJfpFbg3PSbPbzOqs"
        },
        "sheetName": {
          "value": "Email Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.processedAt }}",
            "Date": "={{ $json.date }}",
            "Message ID": "={{ $json.messageId }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Category": "={{ $json.category }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Summary": "={{ $json.summary }}",
            "Suggested Action": "={{ $json.suggested_action }}",
            "Confidence": "={{ $json.confidence }}"
          }
        }
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "34e7406c20878025a559d5fc4e53e0ce",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Subject",
              "type": "title",
              "title": "={{ $json.subject }}"
            },
            {
              "key": "From",
              "type": "richText",
              "richText": "={{ $json.from }}"
            },
            {
              "key": "Category",
              "type": "select",
              "select": "={{ $json.category }}"
            },
            {
              "key": "Summary",
              "type": "richText",
              "richText": "={{ $json.summary }}"
            }
          ]
        }
      },
      "name": "Notion Dashboard",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1850, 120],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Mark as Read", "type": "main", "index": 0 }]]
    },
    "Mark as Read": {
      "main": [[{ "node": "Preprocess Email", "type": "main", "index": 0 }]]
    },
    "Preprocess Email": {
      "main": [[{ "node": "Groq AI Classify", "type": "main", "index": 0 }]]
    },
    "Groq AI Classify": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Route by Category", "type": "main", "index": 0 }]]
    },
    "Route by Category": {
      "urgent": [[{ "node": "Slack Urgent Alert", "type": "main", "index": 0 }]],
      "support": [[{ "node": "Generate Draft Reply", "type": "main", "index": 0 }]],
      "sales": [[{ "node": "Log Sales Lead", "type": "main", "index": 0 }]],
      "spam": [[{ "node": "Archive Spam", "type": "main", "index": 0 }]],
      "main": [[{ "node": "Slack Manual Review", "type": "main", "index": 0 }]]
    },
    "Slack Urgent Alert": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Notion Dashboard", "type": "main", "index": 0 }]]
    },
    "Generate Draft Reply": {
      "main": [[{ "node": "Save Gmail Draft", "type": "main", "index": 0 }]]
    },
    "Save Gmail Draft": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Notion Dashboard", "type": "main", "index": 0 }]]
    },
    "Log Sales Lead": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Notion Dashboard", "type": "main", "index": 0 }]]
    },
    "Archive Spam": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Notion Dashboard", "type": "main", "index": 0 }]]
    },
    "Slack Manual Review": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }, { "node": "Notion Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["email", "ai", "automation", "groq", "notion", "production"]
}
